// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

html,
body,
.site{
  height: 100%;
}

.wrapper {
  padding: 0;
}

#page-wrap-header {
  height: 100%;
}

#wrapper-navbar {
  height: 100%;
  nav.large {
    //height: 100%;
    .container {
      justify-content: center;
    }
  }
  .navbar {
    align-items: flex-start;
  }
}

.main-wrap {
  background-color: $gray;
}
.header-wrap {
  background-color: $dark;
  padding: 0;

}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.blog-info-name {
  display: flex;
  a {
    font-weight: 800px;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: -2px;
    text-align: left;
    font-size: 35px;
    padding: 50px 15px;
  }
}

.small-top-nav {
  .container {
    background-color: black;
    padding-left: 0;

    ul {
      display: flex;
      align-items: stretch; /* Default */
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: flex-start;
      li {
        display: block;
        flex: 0 1 auto; /* Default */
        list-style-type: none;
        background-color: $dark;
        margin-right: 2px;
        margin-bottom: 2px;
        margin-top: 2px;
        i {
          color: black;
          @include transition(color .2s ease);
          font-size: 27px;
          padding: 5px 5px 0px 5px;
        }
        &.active {
          background-color: $dark;
          i {
            color: $gray;
            //color: black;
          }
        }
        &:hover {
          i {
            @include transition(color .2s ease);
            color: $gray;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.navbar-brand {
  font-family: Montserrat, sans-serif;
  font-weight: normal;
}

.customer-logo-container {
  margin-top: 18%;
}

.custom-logo-class {
  border-radius: 10px;
}

.home_blurb {
  color: $gray;
  .textwidget {
    text-align: center;
    font-size: 1em;
    font-family: Montserrat, sans-serif;
  }
}

.pagination-main {
  text-align: center;
  margin-top: 50px;
   .toggle-posts {
     &:hover {
       background-color: #000;
       @include transition(background-color .3s ease);
     }
     @include transition(background-color .3s ease);
     color: $gray!important;
     border: 1px solid #000;
     padding: 12px;
     cursor: pointer;
   }

 }











